body{
	background-color: #dfdfdf;
}
h1,h2,h3,h4,h5{
	margin: 0;
}
.hint{
	color: red;
	padding-left: 10px;
}
.header{
	width: 1190px;
	margin: 0 auto;
	background-color: #666;
	color: #FFFFFF;
	padding-left: 10px;
}
.container{
	width: 1190px;
	margin: 0 auto;
	margin-top: 20px;
	padding-left: 10px;
	background-color: #FFFFFF;
}
.box{
	padding: 20px 0;
	height: 800px;
}
.box-auto{
	height: auto;
}

/*list.template*/

.filter-search,.filter-rank{
	width: 50%;
}
.input{
	width: 90%;
	height: 30px;
	line-height: 30px;
	margin: 10px 0px;
	border-radius:5px;
	border: 1px solid #cecece;
}
.add{
	display: block;
	background-color: #0078e7;
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
}
.player-item{
	border-color: inherit;
}
.player-item td{
	width: 159px;
	height: 56px;
	line-height: 56px;
	text-align: center;
}
.player-icon{
	width: 48px;
	height: 35px;
}
.player-line{
	border-bottom:1px solid #CECECE;
}
.player-title{
	background-color: #e0e0e0;
}
.player-title td{
	height: 30px;
	line-height: 30px;
}

/*add.template*/
.add-title,.add-form{
	width: 680px;
	margin: 0 auto;
	padding:0 0 10px 10px;
}
.add-title{
	border-bottom: 1px solid #CECECE;
	font-weight: 600;
}
.add-form{
	padding-left: 100px;
}
.add-item{
	margin-top: 20px;
}

.input-style{
	width: 200px;
	height: 35px;
	border:1px solid #CECECE;
	margin-left: 15px;
	border-radius: 8px;
	outline: none;
	padding-left: 10px;
}
.btn{
	display: block;
	width: 56px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	background-color: #99c9f5;
	border: none;
	color: #FFF;border-radius: 5px;
}
.btn-cancel{
	background-color: #DFDFDF;
	color: #000000;
	text-decoration: none;
	margin-left: 50px;
}
.details{
	width: 1190px;
	margin: 0 auto;
}
.details-box{
	width: 300px;
	margin: 0 auto;
	text-align: center;
}
.details-box img{
	width: 260px;
	height: 190px;
}
.vote{
	padding-left: 70px;
}
